.App {
  text-align: center;
}

nav {
  text-align: left;
  background-color: purple;
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  display: inline-block;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  border-top: 3px solid blue;
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: blue;
  border-top: 3px solid white;
}


#bio {
  background-image: url("https://wallpaperaccess.com/full/1159586.jpg");
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#bio h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#bio p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}

#bio ol {
  text-align: left;
  margin-left: 40px;
}

#bio li {
  font-size: 18px;
  line-height: 30px;
}

.display{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  flex-basis: calc(40% - 5px);
  border: solid;
  border-color: black;
  box-sizing: border-box;
}

.details{
  background-color: purple;
  padding: 20px;
}
